/* You can addColumn global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "app/styles/ag-grid-material.css";
@import "app/styles/general.css";
@import "app/styles/form-material.css";
@import "app/styles/theme-material.css";

body .mat-sidenav .ui-panelmenu .ui-panelmenu-content {
  border: none;
}
body .ui-dataview .ui-dataview-header {
  border:none;
  background-color: transparent;
  padding:0;
}
body .ui-dataview .ui-dataview-content{
  border:none;
}
