.form-panel .form-body > mat-card-content {
  width: 100%;
  height: calc(100% - 57px);
}

mat-card.form-panel {
  width: 400px;;
  margin-left: 10px;
  height: 100%;
}
.mat-card.form-panel:not([class*=mat-elevation-z]) {
	box-shadow: none;
	background-color: initial;
	padding: 0;
	position: relative;
}
.mat-card.form-panel .form-body{
	position: absolute;
	top:53px;
	left:0;
	right:0;
	bottom: 0;
	border:1px solid lightgrey;
	padding:0;
}
.mat-card.form-panel > mat-toolbar.grid-toolbar{
	padding:0 10px;
}
.mat-card.form-panel mat-card-content{
	padding:10px;
	margin:0;
	overflow: auto;
	box-sizing: border-box;
}
.mat-card.form-panel mat-card-actions{
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	padding:10px;
	border-top:1px solid lightgrey;
}

