:host ::ng-deep .angular-tree-component{
  display: block;
}
:host ::ng-deep tree-node-expander{
  display:none;
}
:host ::ng-deep .node-content-wrapper:hover{
  box-shadow: none;
}
:host ::ng-deep .nav-node-btn{
  width:100%;
  text-align: left;
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif; ;
  font-size: 120%;
  border:none;
  outline: none;
  background-color: transparent;
  padding:0
}
:host ::ng-deep .level1{
  background-color: lightgray;
  line-height: 30px;
}
:host ::ng-deep .node-label{
  padding: 0 10px;
  cursor: pointer;
}
:host ::ng-deep .nav-node-btn > mat-icon.expandable{
  position: absolute;
  right:5px;
  top:5px;
  cursor: pointer;
}
:host ::ng-deep .node-content-wrapper{
  width:100%;
  padding:0;
}
