<tree-root [nodes]="menuItems" [focused]="true" [options]="options">
	<ng-template #treeNodeTemplate let-node let-index="index">
		<button class="nav-node-btn"
				  [routerLink]="node.data.routerLink"
				  routerLinkActive="activeLink"
				  [routerLinkActiveOptions]="{exact:true}" >
			<mat-icon class="mat-icon material-icons mat-icon-no-color hide cursor" role="img" aria-hidden="true">arrow_right</mat-icon>
			<div class="node-label" [ngClass]="'level'+node.level">{{node.data.label.text}}</div>
			<mat-icon *ngIf="node.data.items?.length"
				class="mat-icon material-icons mat-icon-no-color expandable" role="img" aria-hidden="true">keyboard_arrow_up</mat-icon>
		</button>
  </ng-template>
</tree-root>
