<div class="app-container" [class.is-mobile]="appSharedService.isHandset">
	<mat-toolbar color="primary" class="app-toolbar" *ngIf="!appSharedService.hideAppFrame">
		<button mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<app-main-toolbar class="mat-toolbar mat-toolbar-single-row"></app-main-toolbar>
	</mat-toolbar>

	<mat-sidenav-container class="sidenav-container" #drawer>
		<mat-sidenav #sidenav [mode]="isHandset ? 'over' : 'side'" opened
						 style="width:250px"
						 role="navigation"
						 *ngIf="!appSharedService.hideAppFrame"
						 [fixedInViewport]="isHandset"
		>
			<app-tree-menu></app-tree-menu>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet (activate)="appSharedService.onRouteActivate($event)"></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
