.errors > ul {
  padding: 8px 5px 8px 26px;
  color: red;
  border: 1px solid red;
  transition: border-color 0.2s;
}

.success > ul {
  padding: 8px 0px 8px 10px;
  color: green;
  position: absolute;
  bottom: 65px;
  left: 10px;
  right: 10px;
}

.success > ul li {
  display: block;
}

.form-body {
  border: 1px solid lightgrey;
}

mat-card-content.mat-card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  overflow: auto;
  box-sizing: border-box;
}

mat-toolbar.grid-toolbar {
  padding: 0 10px;
  overflow: hidden;
}

.navigation-btns {
  display: inline-flex;
  border-left: 1px solid lightgrey;
}

mat-spinner {
  position: absolute;
  top: calc(50% - 27px);
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 10;
}
