<!--<div *ngIf="isHandset">-->
	<!--<app-entity-table-list [parentRef]="ref"></app-entity-table-list>-->
<!--</div>-->
<div *ngIf="!isHandset">
	<div class="table-container">
		<div class="grid-panel">
			<mat-toolbar class="grid-toolbar box-shadow" role="heading">
				<span class="grid-title">{{uiConfig.labels.list}}</span>
				<div class="right-side info">
					{{service.items.length}} records
				</div>
			</mat-toolbar>
			<div class="grid-body box-shadow">
				<ag-grid-angular
					class="ag-theme-material"
					rowSelection="single"
					[gridOptions]="grid"
					[rowData]="service.items"
					(selectionChanged)="gridSelectionChanged($event)"
				>
				</ag-grid-angular>
				<ng-container #gridToolbar ></ng-container>
			</div>
		</div>
		<mat-card class="form-panel">
			<mat-toolbar class="grid-toolbar box-shadow" role="heading">
				<span class="grid-title">{{uiConfig.labels.itemDetails}}</span>
			</mat-toolbar>
			<ng-container class="form-body box-shadow" #gridForm>
			</ng-container>
		</mat-card>
	</div>
</div>

