<div style="position: relative;width:100%;height: 100%;display: flex;flex-direction: column">
	<div class="grid-panel" style="position: relative">
		<mat-toolbar class="grid-toolbar box-shadow" role="heading">
			<span class="grid-title">{{parentRef.uiConfig.labels.list}}</span>
			<div class="right-side">
				<button mat-flat-button color="primary" (click)="grid.api.sizeColumnsToFit()">
					<mat-icon>add</mat-icon>
					Size columns
				</button>
				<button mat-flat-button color="primary" (click)="autoSizeAll()">
					<mat-icon>add</mat-icon>
					Auto Size All
				</button>
				<button mat-flat-button color="primary" (click)="grid.api.selectAll()">
					<mat-icon>add</mat-icon>
					{{parentRef.uiConfig.labels.addItem}}</button>
			</div>

		</mat-toolbar>

		<ag-grid-angular
			style="position:absolute; top:65px;left:10px;right:10px;bottom: 10px"
			class="ag-theme-material box-shadow"
			[gridOptions]="grid"
			[columnDefs]="parentRef.uiConfig.columns"
			[rowData]="parentRef.service.items">
		</ag-grid-angular>
	</div>
	<div class="form-panel">
		<mat-card style="width:400px">

		</mat-card>
	</div>
</div>
